#body-contain {
	min-height: 100px;
	width: 400px;
	padding-top: 20px;
}

.voteTitle {
	text-align: center;
	margin-bottom: 35px;
}

.input-custom {
	width: 163px;
}

#body-contain .well {
	border-radius: 10px;
}

.well_height {
	height: 275px;
}

#body-contain .form-horizontal .control-label {
	float: left;
	margin-right: 15px;
	text-align: right;
	width: 150px;
}

#body-contain .form-horizontal .controls {
	margin-left: 180px;
}

.well_height p {
	text-align: center;
}